<h1>Example#test</h1>
<p>Find me in app/views/example/test.html.erb</p>

<p>
<% 5.times do |i| %>
 <%= i %>
<% end %>
</p>

<% if @current_time.present? %>
A hora atual é <%= @current_time %>
<% end %>
